.root {
  &[data-variant="filled"] {
    background-color: var(--mantine-color-blue-5);
    transition: background-color 100ms ease;

    &:hover {
      background-color: var(--mantine-color-blue-6);
    }
  }

  &[data-variant="heart"] {
    color: var(--mantine-color-red-3);
    transition: background-color 100ms ease;
    background-color: transparent;
    border: 1px solid var(--mantine-color-red-3);
    &:hover {
      color: var(--mantine-color-red-5);
      /* background-color: var(--mantine-color-red-0); */
      background-color: transparent;
    }
    &:hover svg {
      /* fill: var(--mantine-color-red-3); */
      animation: pulse 1s infinite;
    }
    @keyframes pulse {
      0% {
        transform: scale(0.75);
      }
      20% {
        transform: scale(1);
      }
      40% {
        transform: scale(0.75);
      }
      60% {
        transform: scale(1);
      }
      80% {
        transform: scale(0.75);
      }
      100% {
        transform: scale(0.75);
      }
    }
  }
}
