.root {
  &[data-variant="outline"] {
    .pill {
      background-color: transparent;
      color: light-dark(var(--mantine-color-blue-6), var(--mantine-color-blue-4));
      border: 1px solid light-dark(var(--mantine-color-blue-6), var(--mantine-color-blue-4));
      border-radius: 2px;
      transition: all 100ms ease;

      &:hover {
        background-color: light-dark(var(--mantine-color-blue-0), var(--mantine-color-dark-8));
        color: light-dark(var(--mantine-color-blue-7), var(--mantine-color-blue-3));
      }
    }

    .input {
      border: 1px solid light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-4));
    }
  }
}
