.user {
  display: block;
  width: auto;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  color: light-dark(var(--mantine-black), var(--mantine-color-dark-0));
  border-radius: var(--mantine-radius-md);

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
}
